# Java / Maven / Gradle
target/
*.class
.gradle/
# Node / Angular
node_modules/
dist/
.angular/
out-tsc/
# Env & secrets
.env
*.env
.env.demo
.env.local
!.env.production.example
!.env.demo.example
# Configs générées
infrastructure/nginx/generated/
# IDE / OS
.idea/
.vscode/
*.iml
.DS_Store
